{% extends 'base.html' %}
{% load static %}
{% block title %}
    About the Store
{% endblock %}


{% block content %}

<div class="main">


    <div class="about-img">
       
        <img src="{%static 'images/Carousal/img 1 (4).jpg'  %}" class="d-block w-100" alt="..." >
      
    </div>

    <div class="about">
        <h3>At Denim Daze, we want the right choice to be as easy as putting on a great T-shirt. That’s why we partner with the best, ethical factories around the world. Source only the finest materials. And share those stories with you—down to the true cost of every product we make. It’s a new way of doing things. We call it Radical Transparency</h3>
    </div>

    <br><br><br>


    <div class="element-section">

         <div class="element-para">
            <h3>Our QUALITY </h3>
            <h2>Designed to last.</h2>
            <h3>At Denim Daze, we’re not big on trends. We want you to wear our pieces for years, even decades, to come. That’s why we source the finest materials and factories for our timeless products— like our Grade-A cashmere sweaters, Italian shoes, and Peruvian Pima tees.</h3>
        </div>

        <div class="element-img">
            <img src="https://media.everlane.com/image/upload/c_scale,dpr_1.0,f_auto,q_auto,w_auto/c_limit,w_900/v1/i/06a23e68_6bda.jpg" width="500px">
        </div> 

    </div>
</div>

{% endblock %}
